.home-container {
  scroll-behavior: smooth;
  background-attachment: fixed;
  background-position: center;
  backdrop-filter: brightness(0.8);
  &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
  }
    main {
        margin: 0 auto;
    }
}